<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3yKrkRi2gLsaekaOa1GqOwOzGtDYIF_U</string>
	<key>GCM_SENDER_ID</key>
	<string>1097050210984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catanddog</string>
	<key>PROJECT_ID</key>
	<string>signin-project-b5805</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-project-b5805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097050210984:ios:8279d1f90e6afb0bc6789d</string>
</dict>
</plist>